.content {
  display: flex;
  justify-content: space-between;
  height: calc(100% - 30px);
}

.tree-view {
  flex: 1;
  background-color: rgb(243, 243, 243);
  height: 100%;
  overflow: auto;
}

.list-view {
  flex: 3;
  overflow: auto;
}
